<div class="mainHeaderContainer">
    <div class="mainHeader">
        <a href="/newstudent" class="btn btn-success">New Student</a>

        <form action="/" method="GET">
            <input type="text" placeholder="Search for a student..." name="search" class="mainHeaderSearch"/>
            <select name="by" class="btn btn-secondary dropdown-toggle">
                <option value="name">by name</option>
                <option value="id">by ID</option>
            </select>
            <input type="submit" value="Search" class="btn btn-primary">
        </form>
    </div>
</div>

